.appHeader {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 1000 !important;
}

.appContent {
  min-height: 100vh;
  /* background-color: #f9f9f9; */
  background-color: #fff;
  color: #333;
  margin: 0 auto;
  display: flex;
}

.app-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 24px;
}
.contentDiv {
  flex: 70%;
}
